body {
    background-color: #4C4C4C;
    color: #ffffff;
    font-family: Helvetica Neue;
}

.navigation {
    text-align: center;
}

.navigation h1 {
    font-size: 54px;
    margin: 0;
    text-shadow: 0px 2px 1px #000000;
}

.navigation .description {
    font-size: 18px;
}

.navigation a button {
  background-color: #0091FF; /* Green */
  border: none;
  color: white;
  padding: 5px 10px;
  margin-left: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

.navigation a button:hover {
  background-color: #4CAF50;
}

.navigation a button:active {
  background-color: #3e8e41;
  transform: translateY(1px);
}

.sentiment {
    width: 70%;
    margin: 0 auto;
    justify-content: center;
}

.sentiment .senti-title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.sentiment .senti-title h3 {
    font-size: 24px;
    width: 800px;
}

.sentiment .senti-title #tweet-content {
    border: 2px solid #0091FF;
    background-color: #FFFFFF;
    border-radius: 5px;
    width: 400px;
    height: 44px;
    font-size: 10px;
    color: #000000;
    padding: 5px;
    margin: 5px 5px 5px 90px;
}

.sentiment .sentiment-chart {
    border-radius: 5px;
    background: #ffffff;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mood-stats {
    list-style: none;
    display: flex;
    justify-content: center;
}

.mood-stats h3 {
    text-align:center;
    font-size: 24px;
}

.mood-stats .analysis {
    margin: 5px 25px;
    display: inline;
}

.mood-stats li .verbosity {
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mood-stats li .popular {
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mood-stats li .mood-ratio {
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modebar{
      display: none !important;
}
